<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Aeronave</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm">
          <input
            placeholder="code"
            class="form-control mb-3"
            formControlName="code"
          />
          <input
            placeholder="name"
            class="form-control mb-3"
            formControlName="name"
          />
          <button
           type="button"
           (click)="createAeronave()"
           [disabled]="myForm.invalid"
           class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
